############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#Translations
*.mo


# dpkg-buildpackage output
*.deb
debian/openmediavault-dropbox
debian/files
debian/openmediavault-dropbox.*