#!/usr/bin/make -f

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: 
	dh_testdir
	dh_testroot
	dh_clean

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install